.trn-cont {
  background: white;
  position: fixed;
  inset: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.transactions {
  /* background: red; */
  height: calc(100vh - 15rem);
  overflow-y: auto;
}

.disabled {
  opacity: 0.2;
  pointer-events: none;
}
